@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    margin: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
}

header > div {
    margin-left: auto;
    margin-right: auto;
    width: min(800px, 100vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-style: italic;
    cursor: pointer;
}

header button {
    background: none;
    border: none;
	padding: 0;
	cursor: pointer;
}

header nav {
    display: flex;
    gap: 32px;
}

#content {
    margin-top: 80px;
    padding: 0 40px;
}

footer {
    background-color: rgb(241, 241, 241);
    margin-top: 40px;
    text-align: center;
    padding: 8px;
    width: 100%;
    font-size: 14px;
}